*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#eee;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    cursor: pointer;
}
.Container{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.calculator{
    background-color: #F4EEED;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, .16) ;
    display: grid;
    grid-template-columns: repeat(4, 68px);
    gap: 10px;

}
input{
    grid-column: span 4;
    height: 70px;
    background-color: #eee;
    box-shadow: inset -5px -5px 12px #ffff, inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 25px;
    color: #8C2641;
    font-size: 50px;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #eee;
    box-shadow: -5px -5px 12px #ffff, 5px 5px 12px rgba(0, 0, 0, .16);
    border:none;
    border-radius: 50%;
    margin: 8px;
    font-size: 20px;
    font-weight: bold;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #8C2641;
    box-shadow: -5px -5px 12px #ffff, 5px 5px 12px rgba(0, 0, 0, .16);
}